body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: url("http://www.cityofdekalb.com/images/CivicAlerts/1/DCCVB-20120805-Dynamic-101%20JS.jpg");
  background-attachment: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.nav ul {
  list-style: none;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-family: 'Raleway', sans-serif;
  border-radius: 15px;
  transition: .3s background-color;
}

img {
  max-width: 100%;
}
 
.nav a:hover {
  background-color: #000;
}
 
.nav a.active {
  background-color: #000;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

.center .jumbo{
  width: 100%;
  height: 100%;
  top: 100px;
  text-align: center;
  position: relative;
  font-family: 'Raleway';
  font-size: 25px;
}

.center .jumbo h1{
  color: #000;
  margin-bottom: 50px;
  font-size: 3.0em;
}

.center .jumbo2{
  width: 100%;
  height: 100%;
  top: 100px;
  text-align: center;
  position: relative;
  font-family: 'Raleway';
  font-size: 25px;
}

.center .jumbo2 h1{
  background: #fff;
  opacity:0.8;
  color: #000;
  margin-bottom: 50px;
  font-size: 3.0em;
}

.center .jumbo2 h3 {
  max-width: 80%;
  color: #000;
  margin: 20px auto;
  background: white;
  opacity: 0.9;
  border-radius: 15px;
}

.searchBox > input{
  padding: 1em;
  width: 300px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font-family: 'Raleway';
  font-size: 12px;
  opacity: 0.85;
  background: #FFFFFF;
  border-color: #D3D3D3;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -webkit-appearance: none;
}

.searchBox > input::-ms-clear {
  display: none;
}

.searchBox > .fa{
  position: relative;
  top: 3px;
  left: -35px;
  color: #D3D3D3;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}

.btn{
  background-color: #0099FF;
  opacity: 0.85;
  color: white;
  font-family: 'Raleway';
  padding: 0.2em;
  font-size: 1em;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
}

.search.btn{
  margin-left: -32px;
  vertical-align: bottom;
}

.searchBox, .btn{
  display: inline-block;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.7;
}

input:hover, input:focus{
  border-color: #019FE9;
}

input:focus + .fa{
  color: #019FE9;
}

.container {
  max-width: 80%;
  color: #000;
  margin: 20px auto;
  background: white;
  opacity: 0.9;
  border-radius: 15px;
}

.container ul{
  max-width: 80%;
  color: #000;
  margin: 20px auto;
  background: white;
  opacity: 0.8;
  border-radius: 15px;
}

.container header {
  margin-top: 250px;
  position: relative;
}

.container header h1 {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Raleway', sans-serif;
}

.event li {
  position: relative;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.event li .text {
  margin-left: 10px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
